target/

**/target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

/spring-mongodb/src/main/resources/application.properties
**/application.properties
/security-DBAuth/src/main/resources/application.properties
/security-DBAuth-jwt/src/main/resources/application.properties
/security-DBAuth-jwt/src/main/resources/**
/security-DBAuth/**/resources
/spring-h2-sample/src/main/resources/application.properties
/spring-h2-sample/data
/spring-cloud/**/src/main/resources
**/data/
**/logs/
**/volumes/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Theia ###
.theia/
